<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<!-- <h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<h1>Hello {{ author }}</h1> -->
<div id="root"></div>
<script type="text/javascript" src="/dist/main.js"></script>
</body>

</html>