.mainContainer{
  height: 100vh;
  display: flex;
  width: 100%;
}
.loginContainer{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0px auto;
}
.inputStyle{
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.buttonStyle{
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}